
.button-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;		  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.devicebutton {
    background: #424242;
    min-width: 120px !important;
    padding-left: 8px;
    padding-right: 8px;
    height: 20px;
    margin-top: 5px;
    margin-right: 5px;

    line-height: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    height: 30px !important;
    line-height: 30px !important;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.25s ease-out,opacity 0.25s ease-out, box-shadow 0.25s ease-out;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 75%; 
    box-shadow: 4px 2px 5px #888888;
    overflow-y: hidden;
    overflow-x: hidden;
}
.buttonlink{    
    color: white;
    text-decoration: initial;
}
.devicebutton:hover{
    background: var(--theme-accent-color);
    box-shadow: 4px 4px 10px #888888;
}
.devicebutton:active{
    background: #424242;
}
.disabled:hover{
    background: #424242;
    box-shadow: 4px 2px 5px #888888;
}
.disabled{
    opacity: 0.25;
}
.commandiconwrapper{
    height: 24px;
    width: 24px;
    margin: 4px 24px 4px 16px;
    display: none;
}
.buttonlinkextended{
    display: none;
}
.commandkeyboardshortcut{
    display: none;
}
@media only screen and (min-width: 600px) {
    .button-container{
        flex-direction: row;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .devicebutton{
        background-color: transparent;
        align-items: center;
        display: flex;
        width: 100%;
        padding: 8px;
        box-shadow: none;
        text-transform: none;
        color: unset;
        position: relative;
    }
    .devicebutton:hover{
        background-color: var(--theme-background-color-hover);
        box-shadow: none;
    }
    .buttonlink{
        display: none;
    }
    .devicebutton svg{
        fill: var(--theme-accent-color-lowlight);
    }
    .devicebutton:hover .buttonlinkextended{
        color: var(--theme-accent-color);
        text-decoration: initial;
    }
    .devicebutton:hover svg{
        fill: var(--theme-accent-color);
    }
    .buttonlinkextended{
        display: block;
        color: var(--theme-accent-color-lowlight);
        font-size: 18px;
        font-weight: 400;
        text-align: initial;
        flex-grow: 1;
        min-width: 350px;
    }
    .commandiconwrapper{
        display: block;
    }
    .commandiconwrapper svg{
        height: 24px;
        width: 24px;
    }
    .commandkeyboardshortcut{
        display: inline;
        visibility: hidden;
        opacity: 0.25;
    }
    .commandkeyboardshortcut.configured{
        visibility:visible;
        opacity: 1;
    }
    .commandkeyboardshortcut.configured:hover + .commandkeyboardshortcuttext{
        display:block;
        opacity: 1;
    }
    .commandkeyboardshortcut:hover{
        opacity: 1;
    }
    .devicebutton:hover .commandkeyboardshortcut{
        visibility:visible;
    }
    .devicebutton.disabled:hover .commandkeyboardshortcut{
        visibility:hidden;
    }
    .commandkeyboardshortcuttext{
        display: none;
    }
    .commandkeyboardshortcuttext{
        position: absolute;
        display: none;
        right: 0px;
        top: -8px;
    }
}
@media only screen and (min-width: 1170px) {    
    .button-container{
        flex-direction: column;
        width: auto;
        flex-grow: 1;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }
    .devicebutton{
        width: auto;
    }
}