#filepath{
    padding-top: 8px;
    padding-left: 32px;
    padding-bottom: 8px;
    background-color: var(--theme-background-color-panel);
    box-shadow: 0 1px 5px 0 rgba(60,64,67,.15), 0 4px 4px 0 rgba(60,64,67,.10), 0 -0.1px 3px 0 rgba(60,64,67,.08);
}
#filelist{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100vw;
    background-color: var(--theme-background-color);
}
#files{
    overflow-y: auto;
    overflow-x: hidden;
}
#files.loading{
    opacity: 0.5;
    cursor: not-allowed;
}
#nofiles{
    background-color: var(--theme-background-color-panel);    
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    padding: 0.82rem 0 0.656rem 0;
    height: 100vh;
    width: 100vw;
}
#filedragover{
    background-color: var(--theme-background-color-panel);    
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    padding: 0.82rem 0 0.656rem 0;
}