#mediainfoscontent{ 
	background-color: var(--theme-background-color-panel);
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}
.mediainfos{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100vw;
}
.nomediainfos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    margin: 0.82rem 0 0.656rem 0;
}
.nomediainfosinstructions{
    font-size: smaller;
}